*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
    font-weight: 900;
}
html,body{
    height: 100%;
    width: 100%;
}
.header-container{
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}
.heder-content{
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 20px;
    max-width: 1200px;
    margin-inline: auto;
}
.them-changer{
    cursor: pointer;
}
main{
    padding: 24px;
}
.countrycontainer{
    max-width: 1200px;
    margin-inline: auto;
    margin-top: 20px;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    /* border: 2px solid red; */
}
.country-card{
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}
.country-card:hover{
    transform: scale(1.02s);
    box-shadow: 0 0 16px 0px rgba(0, 0, 0, 0.9);
}
form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-inline: 160px;
}
input{
    padding: 10px;
    outline: none;
    border-radius: 10px;
    border: 2px solid blue;
}
.country-card img{
    width: 100%;
}
a{
    text-decoration: none;
    color: inherit;
}